VITE_FIREBASE_API_KEY=COLOQUE_AQUI
VITE_FIREBASE_AUTH_DOMAIN=COLOQUE_AQUI
VITE_FIREBASE_PROJECT_ID=COLOQUE_AQUI
VITE_FIREBASE_STORAGE_BUCKET=COLOQUE_AQUI
VITE_FIREBASE_MESSAGING_SENDER_ID=COLOQUE_AQUI
VITE_FIREBASE_APP_ID=COLOQUE_AQUI